.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 634px;
}

.profile-info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.socials {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.5rem;
}