@use 'colors' as *;
@import 'https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.light {
    .background {
        background-color: $bg-light;
    }

    .btn-switch {
        border: 1px solid #E7E7E7;
        background-color: white;
    }

    h1 {
        color: $text-primary;
    }

    h2 {
        color: #3A3A3A;
    }

    p {
        color: #575757;
    }

    .project__text {
        color: $text-primary;
        cursor: default;
    }

    .profile-buttons__button {
        color: $text-primary;
        background-color: white;
    }

    .profile-buttons__button_download {
        background-color: #FBD144;
    }

    .tabs-buttons {
        color: #19191B;
        background-color: white;
    }

    .tabs-buttons__button_selected {
        background-color: #D7D7D7;
    }
}

.dark {
    .background {
        background-color: $bg-dark;
    }

    .btn-switch {
        background-color: #171F26;
    }

    h1 {
        color: #F1F2F4;
    }

    h2 {
        color: $text-secondary;
    }

    p {
        color: $text-secondary;
    }

    .project__text {
        color: $text-primary;
        cursor: default;
    }

    .profile-buttons__button {
        color: $text-secondary;
        background-color: #171F26;
    }

    .profile-buttons__button_download {
        color: $text-primary;
        background-color: #FFE071;
    }

    .tabs-buttons {
        background-color: #171F26;
        color: $text-secondary;
    }

    .tabs-buttons__button_selected {
        background-color: #0C151D
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 3rem;
    padding: 2rem;
}

.main {
    width: 760px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

h1 {
    font-size: 46px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 22px;
}

p {
    font-size: 22px;
}

.btn-default {
    background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    border-radius: 10px;
    padding: 1rem 2rem;
    font-size: 22px;
}