@import url('../main.css');

.profile-facts {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 31px;
}

.profile-fact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-fact__about {
    text-align: center;
}

@media (max-width: 780px) {
    .profile-facts {
        padding: 20px 20px;
    }
}

@media (max-width: 600px) {

}