@import url('../main.css');

.profile-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
}

.profile-buttons__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 290px;
    height: 80px;
}

.profile-buttons__button_download {
    gap: 1rem;
    background-color: var(--sec-color);
    color: #3D3D3D;
}

@media (max-width: 780px) {
    .profile-buttons__button {
        width: 158px;
        height: 44px;
        text-wrap: nowrap;
        justify-content: center;
        gap: 1px;
    }

    .profile-buttons__dow-icon {
        width: 16px;
        height: 14px;
    }
}