@import url('../main.css');

.tabs-buttons {
    background-color: var(--pri-color);
    padding: 0.5rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.tabs-buttons__button {
    width: 351px;
    height: 80px;
}

.tabs-buttons__button_selected {
    background-color: var(--sel-color);
}

@media (max-width: 780px) {
    .tabs-buttons {
        width: 340px;
    }

    .tabs-buttons__button {
        width: 154px;
        height: 50.3px;
    }
}

@media (max-width: 600px) {
    .tabs-buttons {
        width: 340px;
    }

    .tabs-buttons__button {
        width: 154px;
        height: 50.3px;
    }
}
