@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1 {
    font-size: 46px;
}

h2 {
    font-size: 24px;
}

.light-theme {
    background-color: #E9EBEC;

    --pri-text-color: #3D3D3D;
    --sec-text-color: #575757;

    --pri-color: #FFFFFF;
    --sec-color: #FBD144;

    --sel-color: #D7D7D7;
}

.dark-theme {
    background-color: #0C151D;

    --pri-text-color: #F1F2F4;
    --sec-text-color: #A3ABB2;

    --pri-color: #171F26;
    --sec-color: #FFE071;

    --sel-color: #0C151D;
}

* {
    box-sizing: border-box; 
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 22px;
    color: var(--sec-text-color);
    padding: 0;
    margin: 0;
 }

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    background-color: var(--pri-color);
    border-radius: 10px;
    padding: 1rem 2rem;
    color: var(--pri-text-color);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--pri-text-color);
}

p {
    color: var(--sec-text-color);
}

/* move this to the other file */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: auto;
    padding: 2rem;
}

.btn-switch {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: var(--pri-color);
}

.btn-switch:hover {
    background-color: var(--sec-color);
    transition: .3s;
}

.profile-info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.socials {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-facts {
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.profile-fact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-fact__about {
    text-align: center;
}

.profile-buttons {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;  
}

.profile-buttons__button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 290px;
    height: 80px;
}

.profile-buttons__button--highlighted {
    background-color: var(--sec-color);
    color: #3D3D3D;
}

.tabs-buttons {
    background-color: var(--pri-color);
    padding: 0.5rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.tabs-buttons__button {
    width: 351px;
    height: 80px;
}

.tabs-buttons__button--selected {
    background-color: var(--sel-color);
}

.tabs-content {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 1.5rem;
    width: 100%;
    justify-content: center;
}

.footer {
    margin: 3rem;
}

