@import url('../main.css');

.tabs-content {
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;
    width: 100%;
    justify-content: space-between;
}

.project__img {
    display: block;
    position: relative;
    z-index: 2;
}

.project__desc {
    display: flex;
    position: relative;
    z-index: 1;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    margin-top: -226px;
    height: 226px;
    width: 362px;
    opacity: 0;
    text-align: center;
    padding: 1.3rem;
}

.project:hover .project__img {
    z-index: 1;
}

.project:hover .project__desc {
    z-index: 2;
    opacity: 1;
    background-color: rgba(255, 224, 113, 0.88);
    transition: 0.5s;
}

.project__title {
    color: #3D3D3D;
}

.project__text {
    font-size: 14px;
    font-weight: 400;
    color: #3d3d3d;
}

.project__btn-anchor {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: none;
    background-color: white;
    margin-top: 0.8rem;
    cursor: pointer;
}

.project__btn-anchor:hover {
    background-color: var(--sel-color);
    transition: 0.3s;
}

.project__btn-anchor > a {
    display: flex;
    justify-content: center;
    align-items: center;
}